.chart {
  display : grid;
  grid-template-columns: 1fr 1fr;
  border : 3px solid black;
  width : 100%;
  margin-bottom : 10px;
  box-sizing: border-box;
}

.chart .field:first-child, .chart .value:nth-child(2) {
  border-top : 0px;
}

.chart .field, .chart .value {
  border-top : 1px solid black;
  padding : 4px;
}

.chart .field {
  border-right : 1px solid black;
}
